/* global */

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
.header {
    background-image: url('pildid/cool-background.png');
    background-size: cover;
    background-position: center;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px;
    margin-top: 20px;
}

.header .slogan {
    font-size: 20px;
}

/* content */

.content .left {
    max-width: 20%;
    float: left;
    display:block;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content .right {
    max-width: 75%;
    float: right;
    display:block;
    font-size: 20px;
    line-height: 2.0;
}



/* footer */
.footer {
    font-size: 32px;
    text-align: center;
    background-color: #f7c202;
    display: block;
    max-width: 100%;
    clear: both;
}